.sunny {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0px);
  }
}
