.itemli {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.income {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-right: solid green;
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 5px;
}

.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px;
  border-right: solid red;
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 5px;
}

.form-control {
  text-align: center;
  margin-top: 20px;
}

.form-control input {
  margin: 5px;
}
